@use 'sass:map';
@use '@angular/material' as mat;

@mixin login($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  .mat-card-header {
    span {
      color: mat.get-color-from-palette($primary-palette, 600);
    }
  }
}
