#page-bg {
  width: 100%;
  height: 100%;
  padding: 10px;
  #side-container {
    .info {
      min-width: 360px;
      margin: 0 auto 0 auto;
      max-width: 432px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
    }
  }
}
